html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
}
.card {
  max-width: 500px;
  margin: 0 auto;
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

h2 {
  font-family: "Poppins", sans-serif;
}
.navbar-brand span {
  letter-spacing: 0.5px;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
